@model IEnumerable<Rozetka.Data.Entity.Product>
@{
    string? category = Context.Session.GetString("Category");
    string? childcategory = Context.Session.GetString("ChildCategory");

    decimal? minPrice = Model.Any() ? Model.Min(p => p.Price) : null;
    decimal? maxPrice = Model.Any() ? Model.Max(p => p.Price) : null;

    // string? filferBrand = Context.Session.GetString("FilferBrand");
    // string? filferPrice = Context.Session.GetString("FilferPrice");    
}
@{
    ViewData["Title"] = childcategory;
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href=".."><i class="bi bi-house"></i></a></li>
        <li class="breadcrumb-item"><a href="/Categories/GetChildCategories?category=@category">@category</a></li>
        <li class="breadcrumb-item active" aria-current="page">@childcategory</li>
    </ol>
</nav>

<h1 class="display-4">@childcategory</h1>
<div class="sticky-top">
    <ul class="list-group list-group-horizontal">

        <li class="list-group-item">
            Знайдено @Model.Count() товарів
        </li>
        @if (!string.IsNullOrEmpty(Context.Session.GetString("SelectedBrands")) || !string.IsNullOrEmpty(Context.Session.GetString("StartPrice")) || !string.IsNullOrEmpty(Context.Session.GetString("EndPrice")))
        {
            <li class="list-group-item">
                <form asp-action="FullDeleteFilters" method="post" >
                    <button type="submit" class="btn btn-danger">
                        Скинути
                    </button>
                </form>
            </li>
            @if (!string.IsNullOrEmpty(Context.Session.GetString("SelectedBrands")))
            {
                <li class="list-group-item">
                    Бренды: @Context.Session.GetString("SelectedBrands")
                    <form asp-action="DeleteFilterBrand" method="post">
                        <button type="submit" class="btn-close" aria-label="Close"></button>
                    </form>
                </li>                
            }
            @if (!string.IsNullOrEmpty(Context.Session.GetString("StartPrice")))
            {
                <li class="list-group-item">
                    @Context.Session.GetString("StartPrice") - @Context.Session.GetString("EndPrice") грн
                    <form asp-action="DeleteFilterPrice" method="post" >
                        <button type="submit" class="btn-close" aria-label="Close"></button>
                    </form>
                </li>
            }
        }

    </ul>





    @* @if (filferBrand.Any() || filferPrice.Any())
    {
        <ul class="list-group list-group-horizontal">
            Фільтри:
            @foreach (var filter in Model.Filters)
            {
                if (filter.StartPrace != null)
                {
                    <li class="list-group-item">
                        від @filter.StartPrace, до @filter.EndPrace
                        <button type="button" class="btn-close" aria-label="Close" onclick="deleteFilter('@filter.Id')"></button>
                    </li>
                }
                if (filter.Brends != null)
                {
                    <li class="list-group-item">
                        Бренд:
                        @foreach (var brend in filter.Brends)
                        {
                            <span> @brend.Name; </span>
                        }
                        <button type="button" class="btn-close" aria-label="Close" onclick="deleteFilter('@filter.Id')"></button>
                    </li>
                }
                if (filter.Types != null)
                {
                    <li class="list-group-item">
                        Тип:
                        @foreach (var type in filter.Types)
                        {
                            <span> @type.Name; </span>
                        }
                        <button type="button" class="btn-close" aria-label="Close" onclick="deleteFilter('@filter.Id')"></button>
                    </li>
                }

            }

        </ul>
    } *@
</div>

<div class="row">
     <div class="col-sm-3 text-start border-end border-2" style="min-width: 300px">
        @if (Model.Any())
        {
            <div class="accordion" id="accordionPanelsStayOpenExample">
                @* <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                            Тип товару
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
                        <div class="accordion-body">
                            <form method="post" asp-action="FilterType">
                                <ul class="list-group list-group-flush">
                                    @foreach (var product in Model)
                                    {
                                        <li class="list-group-item">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="@product.Brand.Title" id="flexCheckDefault_@product.Brand.Title" name="selectedTypes">
                                                <label class="form-check-label" for="flexCheckDefault_@product.Brand.Title">
                                                    @product.Brand.Title
                                                </label>
                                            </div>
                                        </li>
                                    }
                                </ul>
                                <button type="submit" class="btn btn-primary">Ok</button>
                            </form>
                        </div>
                    </div>
                </div> *@
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                            Бренд
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse show">
                        <div class="accordion-body">
                            <form method="post" asp-action="AddFilter">
                                <ul class="list-group list-group-flush">
                                    @foreach (var product in Model)
                                    {
                                        <li class="list-group-item">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="@product.Brand.Title" id="brandCheckbox_@product.Brand.Title" name="selectedBrands">
                                                <label class="form-check-label" for="brandCheckbox_@product.Brand.Title">
                                                    @product.Brand.Title
                                                </label>
                                            </div>
                                        </li>
                                    }
                                </ul>
                                <button type="submit" class="btn btn-primary">Ok</button>
                            </form>

                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                            Ціна
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse show">
                        <div class="accordion-body">
                            <form method="post" class="row g-3" asp-action="AddFilter">
                                <!-- Добавляем скрытое поле для передачи параметра category -->
                                
                                <div class="col-md-5">
                                    <input type="text" class="form-control" placeholder="Від" aria-label="Від" id="startPrice" name="startPrice" value="@minPrice">

                                </div>
                                <div class="col-md-5">
                                    <input type="text" class="form-control" placeholder="До" aria-label="До" id="endPrice" name="endPrice" value="@maxPrice">

                                </div>
                                <div class="col-2">
                                    <button type="submit" class="btn btn-primary">Ok</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        }

    </div> 
    <div class="col-sm-8">
        @if (!Model.Any())
        {
            <div class="container d-flex align-items-center justify-content-center">
                <h4><em>В зв'язку з тим, що сайт знаходиться в розробці, товари даної категорії ще відсутні! Але, якщо ви маєте права адміністратора, ви можете це виправити!:)</em></h4>
            </div>
        }
        else
        {
            <div class="row row-cols-3 row-cols-md-5 g-1">
                @foreach (var product in Model.Where(p => p.QuantityInStock > 0))
                {
                    <div class="col" style="min-width: 160px">
                        <div class="card h-100">
                            <div class="d-flex justify-content-center p-1">
                                <a href="/Products/GetProduct?id=@product.Id" >
                                    @if (product.ProductImages != null && product.ProductImages.Any())
                                    {
                                        var firstImage = product.ProductImages.FirstOrDefault();
                                        var lastImage = product.ProductImages.LastOrDefault();

                                        <img src="data:image;base64,@Convert.ToBase64String(firstImage.ImageData)"
                                             alt="Product Image"
                                             style="max-height: 155px; width: auto; max-width: 100%;"
                                             onerror="this.onerror=null; this.src='/photoproducts/no-image.jpg';"
                                             onmouseover="this.src='data:image;base64,@Convert.ToBase64String(lastImage.ImageData)'"
                                             onmouseout="this.src='data:image;base64,@Convert.ToBase64String(firstImage.ImageData)'" />
                                    }

                                       @*  foreach (var itemImage in product.ProductImages)
                                        {
                                            <img src="data:image;base64,@Convert.ToBase64String(itemImage.ImageData)" alt="Product Image" style="max-height: 155px; width: auto; max-width: 100%;" onerror="this.onerror=null; this.src='/photoproducts/no-image.jpg';" />
                                            break;
                                        }  *@
                                    
                                    else
                                    {
                                        <img src="/photoproducts/no-image.jpg" alt="Photo" class="card-img-top" style="max-height: 155px;" />
                                    }
                                </a>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <a type="button" class="link btn" onclick="addListCompare('@product.Id')">

                                        <img src="~/icons/balance_icon.png" alt="Balance Icon" class="icon-img">
                                    </a>

                                </div>
                               @*  <div class="col">
                                    @if (wishlist != null)
                                    {
                                        bool flag = false;
                                        foreach (var wish in wishlist)
                                        {
                                            if (wish.IdProduct == @product.Id)
                                            {
                                                flag = true;
                                                break;
                                            }
                                        }
                                        if (flag)
                                        {
                                            <button type="button" class="btn btn-link" onclick="deleteToWish('@product.Id')">
                                                <i class="bi bi-heart-fill" style="color:gold"></i>
                                            </button>
                                        }
                                        else
                                        {
                                            <button type="button" class="btn btn-link" onclick="addToWish('@product.Id')">
                                                <i class="bi bi-heart" style="color:gold"></i>
                                            </button>
                                        }
                                    }
                                    else
                                    {
                                        <button type="button" class="btn btn-link" onclick="addToWish('@product.Id')">
                                            <i class="bi bi-heart" style="color:gold"></i>
                                        </button>
                                    }
                                </div> *@
                            </div>

                            <div class="card-body">
                                <a class="a-card" href="/Products/GetProduct?id=@product.Id">
                                    <p class="card-text">@product.ProductType.Title @product.Brand.Title @product.Title</p>
                                </a>
                                <h5 class="card-title">@product.Price ₴</h5>
                            </div>
                        </div>
                    </div>
                }
                @foreach (var product in Model.Where(p => p.QuantityInStock <= 0))
                {
                    <div class="col">
                        <div class="card h-100" style="opacity: 0.8;">
                            <div class="d-flex justify-content-center p-1">
                                <a href="/Products/GetProduct?id=@product.Id">
                                    @if (product.ProductImages != null && product.ProductImages.Any())
                                    {
                                        var firstImage = product.ProductImages.FirstOrDefault();                                        

                                        <img src="data:image;base64,@Convert.ToBase64String(firstImage.ImageData)"
                                             alt="Product Image"
                                             style="max-height: 155px; width: auto; max-width: 100%;"
                                             onerror="this.onerror=null; this.src='/photoproducts/no-image.jpg';"/>
                                    }                                    
                                    else
                                    {
                                        <img src="/photoproducts/no-image.jpg" alt="Photo" class="card-img-top" style="max-height: 155px;" />
                                    }
                                </a>
                            </div>

                           @*  @if (wishlist != null)
                            {
                                bool flag = false;
                                foreach (var wish in wishlist)
                                {
                                    if (wish.IdProduct == @product.Id)
                                    {
                                        flag = true;
                                        break;
                                    }
                                }
                                if (flag)
                                {
                                    <button type="button" class="btn btn-link" onclick="deleteToWish('@product.Id')">
                                        <i class="bi bi-heart-fill" style="color:gold"></i>
                                    </button>
                                }
                                else
                                {
                                    <button type="button" class="btn btn-link" onclick="addToWish('@product.Id')">
                                        <i class="bi bi-heart" style="color:gold"></i>
                                    </button>
                                }
                            }
                            else
                            {
                                <button type="button" class="btn btn-link" onclick="addToWish('@product.Id')">
                                    <i class="bi bi-heart" style="color:gold"></i>
                                </button>
                            } *@

                            <div class="card-body">
                                <a class="a-card" href="/Products/GetProduct?id=@product.Id">
                                    <p class="card-text">@product.ProductType.Title @product.BrandId @product.Title</p>
                                </a>
                                <h5 class="card-title">Немає в наявності</h5>
                            </div>
                        </div>
                    </div>
                }
            </div>
        }

    </div>
</div>

